body {
  font-family: Helvetica, sans-serif;
  font-size: 20px;
}

.calc {
  top: 2em;
  position: relative;
  margin: auto;
  text-align: center;
  width: 400px;
  background-color: rgba(0,0,0,0.1);
  padding: 1em;
  border-radius: 20px;
}

h1 {
  font-size: 50px;
}

form {
  display: grid;
  box-sizing: border-box;
}

input {
  padding: 5px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

input[type=button] {
  margin-top: 1em;
  padding: 10px;
  border: 0;
  border-radius: 0;
  background-color: rgb(101, 191, 99);
  cursor: pointer;
}

input[type=button]:hover {
  background-color: rgba(0,0,0,0.9);
  color: white;
}

label {
  display: flex;
  margin-top: 1em;
}
